.lottie-bg{
  position: absolute;
  z-index:1;
  width: 95%;
  height:100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right:auto;
  

}

.input-size {
    min-width: 280px;
}

@media only screen and (max-width: 480px) {
  .input-size {
    min-width: 0;
    max-width: 96%;
  }

  #mobile-border {
    border-right: none !important;
  }
}