.lottie-bg{
  position: absolute;
  z-index:-1;
  width:3000px;
  height:1200px;
  left:0;
  right:0;
  margin-left: -650px;
  margin-right:-100px;
  margin-top: -100px;
  float: right
  

}

.input-size {
    min-width: 280px;
}

@media only screen and (max-width: 480px) {
  .input-size {
    min-width: 0;
    max-width: 96%;
  }

  #mobile-border {
    border-right: none !important;
  }
}